<%= render "layouts/errors", :object => @post %>
<div class="container">
<h2>Add new post</h2>


<%= simple_form_for [@post, @post.comments.build] do |f| %>
	<%= f.input :content, label: "Reply to thread" %>
  <%= f.button :submit, class: "button" %>
<% end %>


</div>