@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,300,100);



body, html {
	height:100%;
	background-color: #EFEFEF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.container {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

ul {
	list-style: none;
}