@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,300,100);



body, html {
	height:100%;
	background-color: #EFEFEF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.container {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

ul {
	list-style: none;
}

.navbar-default {
	background-color: #EFEFEF;

}
.session-info {
	display: inline-block;
  padding-top: 15px;
  padding-left: 10px;

}
.col-lg-4 p {
	display:inline-block;
	padding-top: 15px;
	text-align: center;
	padding-right: 9px;

}

.col-lg-4 {
	text-align: center;
	padding-top: 30px
}

.jumbotron .container {
	max-width: 100%;
	margin: 0;
}

.jumbotron {
	margin-top:10px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  }

.center-block {
  text-align:center;
  }

  .left-block p {
  text-align: left;
  }

.glyphicon-thumbs-up {
font-size: 15px;
  }
